* {
  padding: 0px;
  margin: 0px;
}

body {
  width: 100vw;
  height: 100vh;
  background-color: rgb(24, 24, 24);
  font-family: sans-serif;
  color: white;
  overflow-x: hidden;
}

nav {
  display: flex;
  justify-content: center;
  align-items: center;
}

.navbar {
  padding: 12px;
  width: 80vw;
  display: flex;
  margin: 10px;
  justify-content: space-between;
}

.buttons {
  display: flex;
  align-items: center;
}

.button-1 {
  color: white;
  display: flex;
  justify-content: flex-end;
  gap: 20px;
  /* border: 2px solid red; */
}

#sel-button {
  border-radius: 5px;
  font-family: sans-serif;
  font-weight: 400;
  background-color: black;
  color: white;
  padding: 5px;
}

.button-2 {
  font-family: sans-serif;
  font-weight: 400;
  background-color: red;
  padding: 5px;
  border-radius: 5px;
}

/* <!-- main section --> */
.container {
  box-sizing: border-box;
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
}

.text-area {
  display: flex;
  width: 500px;
  flex-wrap: wrap;
}

.text-box-heading h2 {
  font-size: 56px;
  line-height: 70px;
  text-align: center;
}

.paragraph {
  text-align: center;
}

.paragraph h2 {
  font-size: 20px;
  font-weight: 500;
  margin-top: 20px;
}

#para {
  font-weight: 400;
  font-size: 16px;
  margin-top: 20px;
}

.startof {
  display: flex;
  padding: 10px;
  width: 100%;
  justify-content: center;
  align-items: center;
  gap: 5px;
}

.startof input {
  font-family: sans-serif;
  width: 290px;
  padding: 10px;
  background-color: black;
  color: white;
  border: none;
  box-shadow: 0px 0px 5px 0px rgb(96, 96, 96);
  border-radius: 5px;
  box-sizing: border-box;
}

.startof button {
  background-color: red;
  color: white;
  font-family: sans-serif;
  border: none;
  border-radius: 5px;
  padding: 10px;
}

.trending-cards {
  display: flex;
  flex-direction: column;
  justify-self: center;
  align-items: center;
  margin-top: 30px;
  width: 80vw;
}

.trending {
  display: flex;
  justify-content: flex-start;
  width: 100%;
  margin: 10px;
}

.trending h1 {
  font-size: 24px;
  font-weight: 500;
  justify-items: flex-start;
}

.all-pages {
  box-sizing: border-box;
  width: 100%;
  display: flex;
  justify-content: flex-start;
  overflow-x: auto;
  scroll-snap-type: x proximity;
  -ms-overflow-style: none;
}

.cards {
  box-sizing: border-box;
  display: flex;
  margin: 10px;
  min-width: 200px;
}

.all-pages::-webkit-scrollbar {
  display: none;
}

.cards img {
  border-radius: 10px;
  height: auto;
  width: 100%;
}



@media only screen and (max-width: 604px) {

  .logo img {
    width: 120px;
  }

  .button-1 {
    box-sizing: border-box;
    color: white;
    display: flex;
    justify-content: flex-end;
    gap: 10px;
    /* border: 2px solid red; */
  }

  .buttons {
    box-sizing: border-box;
  }

  #sel-button {
    box-sizing: border-box;
    border-radius: 5px;
    font-size: 12px;
    font-family: sans-serif;
    font-weight: 400;
    background-color: black;
    color: white;
    padding: 5px;
  }

  .button-2 {
    box-sizing: border-box;
    font-family: sans-serif;
    font-weight: 400;
    font-size: 12px;
    background-color: red;
    padding: 5px;
    border-radius: 5px;
  }

  .startof {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }

  .text-box-heading h2 {
    font-size: 36px;
    line-height: 40px;
  }

  .paragraph h2 {
    font-size: 18px;
    font-weight: 500;
    margin-top: 20px;
  }

  #para {
    font-weight: 400;
    font-size: 14px;
    margin-top: 20px;
  }

  .all-pages {
    overflow: auto;
    scroll-behavior: smooth;
    align-items: center;
  }
}

.reasons-section{
  display: flex;
  flex-direction: column;
  justify-self: center;
  align-items: center;
  margin-top: 30px;
  width: 80vw;
}

.all-cards{
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-self: center;
  align-items: center;
  flex-wrap: wrap;
}

.r-cards{
  display: flex;
  border-radius: 20px;
  border: 3px solid white;
  display: flex;
  height: 240px;
  width: 500px;
  margin: 10px;
  min-width: 260px;
  max-width: 500px;
}